<h1>Create a User</h1>
<!--=============== TESTS-->
<div class="test-results">
    <ul>
        <li>1. {{userCreateTest}}</li>
        <li>2. {{stateListSrvTest}}</li>
        <li>3. {{postUserInfoSrvTest}}</li>
        <li>4. {{userServiceTest}}</li>
        <li>5. {{deleteAllUsersServiceTest}}</li>
    </ul>
    <button ng-click="deleteUsers()" style="background: red; color: white; cursor: pointer">Delete All Users</button>
</div>

<form id="userCreateForm">
    <input type="text" placeholder="First Name" ng-model="userInfo.firstName" />
    <input type="text" placeholder="Last Name" ng-model="userInfo.lastName" />
    <input type="email" placeholder="email" ng-model="userInfo.email" />
    <select ng-options="state as state.name for state in stateName" ng-model="stateObj" />
    <option value="" disabled selected>State</option>
    <input type="submit" value="Submit" ng-click="submit()" />
</form>
<button ng-click="clearForm()">Clear</button>
